/*-------------------------------------
  Reset
---------------------------------------*/
:root {
  --color-dark-purple: #2c098C;
  --color-white: #FFFFFF;
  --color-teal: #00F0F0;
}

/******Basic settings**********/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--color-white);
  margin: 0;
  padding: 0;
}

sup {
  vertical-align: 4px;
  font-size: 5px;
  line-height: 0;
}

.font-preloader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  visibility: hidden;
  width: 0;
  height: 0;
}

#frame_one,
#frame_two,
#frame_three,
#frame_four,
#frame_five {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*-------------------------------------
  Layout
---------------------------------------*/

.aw-bg-con {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.aw-bg-img {
  position: absolute;
  background-color: red;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}


#ad {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
}

#banner {
  position: absolute;
  background: #deddff;
  display: block;
  width: 300px;
  height: 600px;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
}

#clickTAG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  cursor: pointer;
}

#border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-------------------------------------
  Frame One frame duration: 3.5s
---------------------------------------*/


.f1-pro {
  position: absolute;
  width: 250px;
  height: auto;
  left: 50%;
  top: 51.6%;
  transform: translate(-50%, -50%);
}

.badge1 {
  position: absolute;
  font-size: 11px;
  line-height: 10px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: var(--color-white);
  left: 7.25%;
  top: 15%;
}

.title1 {
  position: absolute;
  font-size: 24px;
  line-height: 25px;
  font-weight: 700;
  text-align: left;
  color: var(--color-white);
  text-transform: uppercase;
  left: 7.25%;
  top: 19%;
}

.dell-logo,
.dell-logof5 {
  position: absolute;
  width: auto;
  height: auto;
  top: 3.8%;
  left: 7.25%;
}

.bundle-txt-1 {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 20%;
  left: 0;
}

.sc-txt-1 {
  position: absolute;
  font-size: 16px;
  line-height: 12px;
  font-weight: 300;
  text-align: center;
  color: var(--color-white);
  left: 0;
  /* top: 0; */
  width: 100%;
}

.proname-txt-1 {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  width: 100%;
  top: 40%;
}

.funding-box {
  position: absolute;
  bottom: 3%;
  left: 4%;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  height: auto;
}

.funding-logo {
  width: auto;
  height: 50px;
}

.funding-copy {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-align: left;
  color: var(--color-white);
}

.cta-1,
.cta-2,
.cta-3,
.cta-4 {
  position: absolute;
  background: var(--color-teal);
  color: var(--color-dark-purple);
  border: var(--color-teal) 1px solid;
  border-radius: 15px;
  text-align: center;
  bottom: 18.5%;
  display: block;
  padding: 9px 16px;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.3px;
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase;
  vertical-align: middle;
  z-index: 9;
  bottom: 3%;
}

.cta-1 {
  right: 3%;
}

.cta-2 {
  left: 50%;
  transform: translateX(-50%);
}

.cta-3 {
  left: 50%;
  transform: translateX(-50%);
}

.cta-4 {
  right: 3%;
}

/*-------------------------------------
  Frame two  frame duration: 3.5s
---------------------------------------*/
.f2-bg {
  position: absolute;
  background: #612cb0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bg-pattern1 {
  position: absolute;
  width: 404px;
  height: auto;
  left: 87%;
  top: 48%;
  transform: translate(-50%, -50%);
}

.f2-pro {
  position: absolute;
  width: 220px;
  height: auto;
  left: 49%;
  top: 50.7%;
  transform: translate(-50%, -50%);
}


.title2 {
  position: absolute;
  font-size: 17px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
  color: #deddff;
  top: 5%;
  left: 0;
  width: 100%;
}

.bundle-txt-2 {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 10%;
  /* left: 4.25%; */
}

.sc-txt-2 {
  position: absolute;
  font-size: 14px;
  line-height: 12px;
  font-weight: 300;
  text-align: center;
  color: #fff;
  width: 100%;
  top: 0;
}

.proname-txt-2 {
  position: absolute;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  width: 100%;
  top: 32%;
}

/*-------------------------------------
  Frame Three frame duration: 3.5s
---------------------------------------*/

.f3-bgImg {
  position: absolute;
  top: 0%;
  right: 0;
  width: 100%;
  height: 75%;
  object-fit: cover;
  object-position: 50% 50%;
}

.f3-bgUp {
  position: absolute;
  background: #deddff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 22.5%;
}

.bundle-txt-3 {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 9%;
  /* left: 4.25%; */
}

.sc-txt-3 {
  position: absolute;
  font-size: 16px;
  line-height: 13px;
  font-weight: 300;
  text-align: center;
  color: var(--color-white);
  width: 100%;
  top: 0;
}

.proname-txt-3 {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  width: 100%;
  top: 37%;
}

/*-------------------------------------
  Frame four frame duration: 3.5s
---------------------------------------*/
.bg-pattern4 {
  position: absolute;
  width: 364px;
  height: auto;
  left: -67%;
  top: 54.7%;
  transform: translateY(-50%);
}

.f4-pro {
  position: absolute;
  width: 240px;
  height: auto;
  left: 8%;
  top: 52.3%;
  transform: translateY(-50%);
}

.proname-txt-4 {
  position: absolute;
  font-size: 12px;
  line-height: 13.5px;
  font-weight: 500;
  text-align: center;
  color: #deddff;
  width: 100%;
  bottom: 10.5%;
}

.txt-con-f4 {
  position: absolute;
  width: 160px;
  height: 160px;
  left: 8%;
  top: 3%;
  z-index: 1;
}

.title4 {
  position: absolute;
  font-size: 30px;
  line-height: 32px;
  font-weight: 700;
  text-align: left;
  color: var(--color-white);
  text-transform: uppercase;
  top: 20%;
  left: 0;
}


.dell-element-4 {
  position: absolute;
  top: 74%;
  left: 0;
  width: 32px;
  height: 8px;
  background: #c8c0ff;
  opacity: 0;
}

/*-------------------------------------
  Frame five frame duration: 3.5s
---------------------------------------*/

.txt-con-f5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  height: auto;
  left: 7.25%;
  top: 15%;
}

.img-cont-f5 {
  position: absolute;
  top: 33.8%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.f5-bg {
  position: absolute;
  top: 0;
  left: -40%;
  width: 180%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.badge5 {
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: var(--color-white);
}

.title5 {
  font-size: 21px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-white);
}

.bundle-txt-5 {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 22%;
  left: 0;
}

.sc-txt-5 {
  position: absolute;
  font-size: 14px;
  line-height: 12px;
  font-weight: 300;
  text-align: center;
  color: #500a96;
  left: 0;
  /* top: 0; */
  width: 100%;
}

.proname-txt-5 {
  position: absolute;
  font-size: 11px;
  line-height: 12px;
  font-weight: 500;
  text-align: center;
  color: #500a96;
  width: 100%;
  top: 31%;
}




/*Roll over*/

#roll-cta {
  position: absolute;
  bottom: 19.6%;
  left: 48%;
  transform: translateX(-50%);
  z-index: 99999;
  width: 60px;
  height: 13px;
}

#legal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #deddff;
  top: -1000px;
  z-index: 99;
}

#legal-text {
  position: absolute;
  color: #444;
  width: 100%;
  height: 100%;
  font-size: .80px;
  line-height: 12px;
  text-align: left;
  padding: 15px 20px;
}

#rolltext {
  color: #000;
  position: absolute;
  z-index: 9;
  width: 60px;
  height: 10px;
  height: auto;
  bottom: 19.6%;
  left: 48%;
  transform: translateX(-50%);
  font-size: 10px;
  text-align: left;
  white-space: nowrap;
}