/*-------------------------------------
  Reset
---------------------------------------*/

/******Basic settings**********/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  
}

sup {
  vertical-align: .5em;
  line-height: 0;
}

.font-preloader {
  font-family: 'Open Sans';
  font-weight: 300;
  visibility: hidden;
  width: 0;
  height: 0;
}

#frame_one,
#frame_two,
#frame_three,
#frame_four,
#frame_five {
  width: 100%;
  height: 100%;
}

/*-------------------------------------
  Layout
---------------------------------------*/

#ad {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  font-size: 15px;
}

#banner {
  position: absolute;
  background: #171324;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
}

#clickTAG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  cursor: pointer;
}

#border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  visibility: hidden;
}

/*-------------------------------------
  Frame One frame duration: 3.5s
---------------------------------------*/

.f1-header,
.f2-header,
.f3-header,
.f4-header,
.f5-header,
.life-imgf1,
.life-imgf4,
.f1-bg,
.f2-bg,
.f3-bg,
.f4-bg,
.f5-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 50%;
}

.f1-header,
.f2-header,
.f3-header,
.f4-header,
.f5-header {

  object-position: 32% 50%;
}

.f2-header,
.f3-header {

  object-position: 0% 0%;
}



.f1-pro {
  position: absolute;
  width: 30.6em;
  height: auto;
  left: 31.5%;
  top: 70.5%;
  transform: translate(-50%, -50%);
}

.proname-f1 {
  position: absolute;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.100em;
  color: #e9f16d;
  left: 80%;
  top: 29%;
}

.txtcon-f1 {
  position: absolute;
  width: 25.8em;
  height: 11em;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.badge-f1 {
  position: absolute;
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.100em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #a3a0fa;
  top: 0;
  left: 0;
  width: 100%;
}

.title1-1,
.title1-2,
.title1-3,
.title1-4 {
  position: absolute;
  font-size: 3.5em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.100em;
  white-space: nowrap;
  color: #fff;
  left: 0;
  width: 100%;
}

.title1-1 {
  bottom: 0;
}

.title1-2 {
  bottom: 0;

}

.title1-3 {
  top: 61%;

}

.title1-4 {
  top: 79%;

}

.aw-logo,
.aw-logo2 {
  position: absolute;
  width: 30em;
  height: auto;
  top: 20%;
  left: 13.5%;
  z-index: 9;
}


.funding-box {
  position: absolute;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  height: auto;
  left: 20%;
  bottom: 10%;
  z-index: 1;
}

.funding-logo {
  width: 13em;
  height: auto;
}

.funding-copy {
  font-size: 1.3em;
  line-height: 1.3em;
  font-weight: 400;
  text-align: right;
  color: #fff;
}

.funding-copy sup {
  font-size: .6em;
  vertical-align: .5em;
}


.cta,
.cta2 {
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 1.2em 2.4em;
  border-radius: 2.5em;
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: 0.03em;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 9;
}

.cta {
  background: #a3a0fa;
  color: #1e1e1f;
  border: #a3a0fa 1px solid;
  position: absolute;
  right: 7%;
  bottom: 9%;
}

.cta2 {
  margin-top: 2em;
  margin-left: 3em;
  position: relative;
  width: 67%;
  font-size: 1em;
  padding: 1.3em 2em;
  color: #fff;
  background-color: #2c098c;
  border-color: #2c098c;
}

/*-------------------------------------
  Frame two  frame duration: 3.5s
---------------------------------------*/

.f2-pro {
  position: absolute;
  width: 65em;
  height: auto;
  left: 58%;
  top: 53%;
  transform: translate(-50%, -50%);
}

.hud-conf2 {
  position: absolute;
  width: 24em;
  height: 16.5em;
  left: 37%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hud-imgf2 {
  position: absolute;
  width: 24em;
  height: auto;
  left: 0;
  top: 0;
}

.hud2-txt1,
.hud2-txt2,
.hud2-txt3 {
  position: absolute;
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.100em;
  color: #a3a0fa;
  right: 8%;
  top: 15%;
}

.hud2-txt2 {
  top: 36%;
  right: 10%;
  font-size: 1.4em;

}

.hud2-txt3 {
  top: 64%;
  right: 23%;
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
}


.txtcon-f2,
.txtcon-f3 {
  position: absolute;
  width: 100%;
  height: 3em;
  top: 15%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}

.title2-1,
.title2-2,
.title3-1,
.title3-2 {
  position: absolute;
  font-size: 3em;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.100em;
  white-space: nowrap;
  color: #fff;
  top: 0;
  width: 100%;
}

.title2-2 {
  top: 22%;

}

/*-------------------------------------
  Frame Three frame duration: 3.5s
---------------------------------------*/

.f3-pro {
  position: absolute;
  width: 82em;
  height: auto;
  left: 26.75%;
  top: 55%;
  transform: translate(-50%, -50%);
}

.hud-conf3 {
  position: absolute;
  width: 24em;
  height: 16.5em;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hud-imgf3 {
  position: absolute;
  width: 24em;
  height: auto;
  left: 0;
  top: 0;
}

.hud3-txt1,
.hud3-txt2,
.hud3-txt3 {
  position: absolute;
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.100em;
  color: #a3a0fa;
  right: 8%;
  top: 15%;
}

.hud3-txt2 {
  top: 30%;
  width: 25ch;
  right: 8%;
  text-transform: uppercase;
  font-size: 1.4em;

}

.hud3-txt3 {
  top: 67%;
  right: 29%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  font-size: 1.3em;
}



/*-------------------------------------
  Frame four frame duration: 3.5s
---------------------------------------*/
.txtcon-f4 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.8em;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 14%;
  text-align: center;
}

.title4-1,
.title4-2 {
  font-size: 3.2em;
  line-height: 1em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.100em;
  white-space: nowrap;
  color: #2c098c;
}

.title4-2 {
  top: 22%;

}

.protxt-f4 {
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.100em;
  color: #2c098c;
}

.protxt-f4-2 {
  font-weight: 400;
  text-transform: uppercase;
}

/*-------------------------------------
  Frame five frame duration: 3.5s
---------------------------------------*/


.f5-pro {
  position: absolute;
  width: 69em;
  height: auto;
  left: 69%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.txtcon-f5 {
  position: absolute;
  width: 25.8em;
  height: 11em;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
}

.badge-f5 {
  position: absolute;
  font-size: 1.7em;
  line-height: 1em;
  font-weight: 700;
  white-space: nowrap;
  letter-spacing: 0.100em;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #a3a0fa;
  top: 0;
  left: 0;
  width: 100%;
}

.title5-1,
.title5-2,
.title5-3,
.title5-4 {
  bottom: 0;
  position: absolute;
  font-size: 3.5em;
  line-height: 1.1em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.100em;
  white-space: nowrap;
  color: #fff;
  left: 0;
  width: 100%;
}

.title5-1 span {
  font-size: 0.6em;
}

.protxt-f5 {
  position: absolute;
  font-size: 1.2em;
  line-height: 1.25em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.100em;
  color: #2c098c;
  left: 52%;
  bottom: 11%;
}

.protxt-f5 span {
  position: absolute;
  margin-top: 10px;
  font-weight: 400;
  font-size: 0.95em;
}

.aw-logo2 {
  top: 25.5%;

}

/*Roll over*/

#legal-cont {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
}

#roll-cta {
  position: absolute;
  top: 16.5%;
  right: 4.5%;
  z-index: 99999;
  width: 6em;
  height: 1em;
}

#legal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  top: -100em;
  z-index: 99;
}

#legal-text {
  position: absolute;
  color: #000;
  width: 100%;
  height: 100%;
  font-size: .8em;
  line-height: 1.2em;
  text-align: left;
  padding: 1.5em 2em;
}

#rolltext {
  color: #000;
  position: absolute;
  z-index: 9;
  width: 6em;
  height: 1em;
  height: auto;
  top: 16.5%;
  right: 4.5%;
  font-size: .9em;
  text-align: right;
  white-space: nowrap;
  visibility: hidden;
}