.about-page {
    margin-top: 0;
    padding-top: 0;
    background-color: #fcfcf3;
    min-height: 100vh;
}

.section {
    background-color: #fcfcf3;
    padding: 1.5em 0;
}

.section#services,
.section#experience {
    min-height: 90vh;
}

.logo {
    height: 2.5em;
}

.logo #dell,
.logo #alienware {
    height: 3.2em;
}

@media (max-width: 600px) {
    .about-page {
        padding-top: 4em;
        height: auto;
        /* Ajusta a altura para conteúdo dinâmico */
    }

    .logo {
        height: 1.3em;
    }

    .logo #dell {
        height: 2.1em;
    }

    .logo #alienware {
        height: 2.3em;
    }

    .logo #sultan {
        height: 1.8em;
    }
}