/*-------------------------------------
  Reset
---------------------------------------*/

:root {
  --color-dark-purple: #2c098C;
  --color-white: #FFFFFF;
  --color-teal: #00F0F0;
}

/******Basic settings**********/
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
}

sup {
  vertical-align: 4px;
  font-size: 4px;
  line-height: 0;
}

.font-preloader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  visibility: hidden;
  width: 0;
  height: 0;
}

#frame_one,
#frame_two,
#frame_three,
#frame_four,
#frame_five {
  width: 100%;
  height: 100%;
}

/*-------------------------------------
  Layout
---------------------------------------*/

#ad {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
}

#banner {
  position: absolute;
  background: #deddff;
  display: block;
  width: 970px;
  height: 90px;
  overflow: hidden;
  cursor: pointer;
  visibility: hidden;
}

#clickTAG {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  top: 0;
  left: 0;
  cursor: pointer;
}

#border {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
  border: 1px solid #444;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*-------------------------------------
  Frame One frame duration: 3.5s
---------------------------------------*/
.cont-f1 {
  position: absolute;
  width: 370px;
  height: 90px;
  left: 41.2%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.f1-pro {
  position: absolute;
  width: 110px;
  height: auto;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.txt-con-f1,
.txt-con-f5 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  gap: 10px;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.badge1,
.badge5 {
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: var(--color-white);

}

.title1,
.title5 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: var(--color-white);
}

.dell-logo {
  position: absolute;
  width: auto;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 1%;
  z-index: 9;
}

.bundle-txt-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: auto;
  height: auto;
  bottom: 35%;
  right: 38%;
}

.sc-txt-1 {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-align: right;
  color: var(--color-white);
}

.proname-txt-1 {
  font-size: 8px;
  line-height: 8px;
  font-weight: 500;
  text-align: right;
  color: var(--color-white);
}

.funding-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: absolute;
  gap: 8px;
  width: auto;
  height: auto;
  top: 55%;
  transform: translateY(-50%);
  right: 2.5%;
  z-index: 9;
}

.funding-logo {
  width: auto;
  height: 40px;
}

.funding-copy {
  font-size: 6.5px;
  padding-bottom: 5px;
  font-weight: 500;
  text-align: right;
  width: 100%;
  color: var(--color-white);
}

.cta-1,
.cta-2,
.cta-3,
.cta-4,
.cta-5 {
  position: absolute;
  background: var(--color-teal);
  color: var(--color-dark-purple);
  border: var(--color-teal) 1px solid;
  text-align: center;
  border-radius: 15px;
  top: 50%;
  right: 22%;
  transform: translateY(-50%);
  display: block;
  padding: 7px 14px;
  font-size: 9px;
  line-height: 9px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  z-index: 9;
}

.cta-2 {
  top: 50%;
  right: 10%;
}

.cta-3 {
  top: 50%;
  right: 5%;
}

.cta-4 {
  right: 5%;
  top: 50%;
}

.cta-5 {
  right: 20%;
}

/*-------------------------------------
  Frame two  frame duration: 3.5s
---------------------------------------*/
.f2-bg {
  position: absolute;
  background: #612cb0;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.bg-pattern1 {
  position: absolute;
  width: 100px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.f2-pro {
  position: absolute;
  width: 95px;
  height: auto;
  left: 55%;
  top: 51%;
  transform: translate(-50%, -50%);
}

.title2 {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  font-weight: 40;
  text-align: left;
  color: #deddff;
  top: 52%;
  transform: translateY(-50%);
  left: 5.4%;
}


.bundle-txt-2 {
  position: absolute;
  width: 80px;
  height: 38px;
  top: 30%;
  right: 20.5%;
}

.sc-txt-2 {
  position: absolute;
  font-size: 14px;
  line-height: 12px;
  font-weight: 300;
  text-align: left;
  color: #deddff;
  left: 0;
  top: 0;
}

.proname-txt-2 {
  position: absolute;
  font-size: 12px;
  line-height: 12px;
  font-weight: 500;
  text-align: left;
  color: #deddff;
  left: 0;
  top: 36%;
}

/*-------------------------------------
  Frame Three frame duration: 3.5s
---------------------------------------*/
.bg-f3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;
  color: #c8c0ff;
  z-index: 9;
}

.img-cont-f3 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.f3-bgImg {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.bundle-txt-3 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 38%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sc-txt-3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  color: var(--color-white);
}

.proname-txt-3 {
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
}

/*-------------------------------------
  Frame four frame duration: 3.5s
---------------------------------------*/
.bg-pattern4 {
  position: absolute;
  width: 150px;
  height: auto;
  right: .3%;
  top: 48%;
  transform: translateY(-50%);
}

.f4-pro {
  position: absolute;
  width: 110px;
  height: auto;
  right: 46%;
  top: 62%;
  transform: translateY(-50%);
}

.title4 {
  position: absolute;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  top: 43%;
  left: 3%;
  transform: translateY(-50%);
}

.proname-txt-4 {
  position: absolute;
  bottom: 22%;
  left: 3%;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  text-align: left;
  color: #deddff;
}

/*-------------------------------------
  Frame five frame duration: 3.5s
---------------------------------------*/

.img-cont-f5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100%;
  overflow: hidden;
}

.f5-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.proname-txt-f5 {
  position: absolute;
  font-size: .90px;
  line-height: 12px;
  font-weight: 500;
  text-align: left;
  color: var(--color-white);
  left: 0%;
  bottom: 7%;
}

/*Roll over*/

#roll-cta {
  position: absolute;
  top: 29%;
  right: 1.8%;
  transform: translateY(-50%);
  z-index: 99999;
  width: 70px;
  height: 10px;
}

#legal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #deddff;
  top: -1000px;
  z-index: 99;
}

#legal-text {
  position: absolute;
  color: #444;
  width: 100%;
  height: 100%;
  font-size: .80px;
  line-height: 12px;
  text-align: left;
  padding: 15px 20px;
}

#rolltext {
  color: #000;
  position: absolute;
  z-index: 9;
  width: 70px;
  height: 10px;
  height: auto;
  top: 29%;
  right: 1.8%;
  transform: translateY(-50%);
  font-size: 10px;
  letter-spacing: 0.3px;
  text-align: right;
  white-space: nowrap;
}